<?xml version="1.0"?>
<configuration>
  <location path=".">
    <system.web>
      <authorization>
        <!--judek@yahoo.com-->
        <allow users="https://me.yahoo.com/a/5ujuGx9rupXIpbRHoV2BnL9r#90989" />
        <!--Pam Abuhl-->
        <allow users="https://me.yahoo.com/a/qDGZjmVpg8PSgx_Se1fIsEUSGKKyeA--#3fa0a" />
        <!--Eli Suddarth-->
        <allow users="http://openid.aol.com/elisuddarth" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
